# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Env
.env*
!.env.example

# Vercel
.vercel

# Foundry
/owned-contracts/out/
/owned-contracts/cache/
/owned-contracts/broadcast/
/owned-contracts/dsig/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Hardhat (if any)
artifacts/
cache/
typechain/
typechain-types/
